.about_container{
  width: 80%;
  height: auto;
  margin: 10px auto 0;
}

img.about_banner_mob{
    display: none;
  }
  
  @media only screen and (max-width: 650px) {
    .about_banner_mob {
      display: block;
      border-radius: 25px;
    }
  
    .about-banner_home {
      display: none;
    }
  }