.about_container{
  width: 80%;
  height: auto;
  margin: 10px auto 0;
}

img.about_banner_mob{
    display: none;
  }
  .about-banner_home{
    width: 86%;
    object-fit: cover;
    margin-left: 50px;
    mix-blend-mode: darken;
    border-radius: 25px;
    filter: brightness(50%);
  }

/* .about{

  left: 90.65%;
  right: 0%;
  top: 25%;
  bottom: 25%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */
/*   display: flex;
  flex-direction: column;
  text-align: right;
  color: #FF6060;
  } */ 
  .returnHome{
    color: #FF6060;
    
}
  @media only screen and (max-width: 650px) {
    .about_banner_mob {
      display: block;
      border-radius: 25px;
    }
  
    .about-banner_home {
      display: none;
    }
  }