.img-banner{
  position: absolute; 
   width: auto;
   height: 255px;
   left: 100px;
   top: 170px;
   filter: brightness(70%);
   border-radius: 25px;
      
   } 
   .img-banner_home{
    width: 100%;
   }
   
   .title-banner{
       color: #FFFFFF;
       margin-top: 11rem;
       font-family: Montserrat;
       display: flex;
       justify-content: center;
       position: relative;
       z-index: 1; 
       font-size: 48px;
       font-style: normal;
       
   }
   @media only screen and (max-width: 768px) {
    .title-banner{
      font-size: 32px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    }

   }

   
 
   