 .banner-content{
  position: relative;
  
  text-align: center;
  
 }

.img-banner{
  
  border-radius: 10px;
  width: 85%;
  filter: brightness(70%);
  height: auto;
        
   } 
  
   .title-banner{
       color: #FFFFFF;
       font-family: 'Montserrat'; 
       position: absolute;
       text-align: center;
       width: 80%; 
       font-size: 48px;
       font-style: normal;
       margin: auto;
       font-weight: 500;
       top: 50%;
       left: 50%;
      transform: translate(-50%, -50%)}
       
   

   @media only screen and (max-width: 768px) {
    .title-banner{
    font-size: 24px;
      
    }
    .banner-content{
      margin-left: 0;
    }
  .img-banner{
    max-width: 600px;
    
   
  
  }
  }
    