.Contain {
  display: flex;
  margin-top: 20px;
}
.Cards {
  border-radius: 25px;
  background-color: #f7f7f7;
  gap: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0 40px 0;
  margin-top: 30px;
}

.Card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}
.Card_content {
  position: absolute;
  width: 340px;
  height: 340px;
}
.Card_cover {
  width: 340px;
  height: 340px;
  display: block;
  object-fit: cover;
}

.Card_title {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  position: relative;
  top: 270px;
  color: #ffffff;
  width: 70%;
  margin-left: 20px;
}
@media only screen and (max-width: 768px) {
  .Cards {
    background: none;
    margin: 0;
    padding: 0;
  }
  .Card_cover{
    width: 335px;
    height: 255px;
  }
  .Card_title{
    top: 190px;
    font-size: 18px;
  }
  .card{
    margin-top: 20px;
  }
}
