.Err {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error {
  margin-top: 100px;
}
.error-txt {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
  font-family: Montserrat;
  margin-top: 60px;
  margin-bottom: 140px;
}
.returnHome {
  font-size: 18px;
  color: #ff6060;
  font-family: Montserrat;
}
li {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .error {
    width: 200px;
  }
  .returnHome{
    font-size: 14px;
  }
  .error-txt {
    font-size: 18px;
    margin: 25px 58px 100px 80px;
  }
}
