body {
  margin: 0;
  max-width: 1600px;
}
.container_header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.lmj-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
  margin-left: 50px;
  width: 85%;
  height: 100px;
}

.lmj-logo-kasa {
  margin-top: 20px;
  height: 70px;
}
.nav_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: #ff6060;
  font-family: "Montserrat";
  margin-left: 40px;
}
.active {
  text-decoration: underline;
  color: #ff6060;
  font-family: "Montserrat";
}

@media only screen and (max-width: 768px) {
  .lmj-logo-kasa {
    height: 50px;
    margin-top: 20px;
    width: auto;
  }
  .container_header {
    width: auto;
    margin: 0px;
  }
  .lmj-nav {
    margin-left: 25px;
    width: 100%;
  }
  .nav_link {
    font-size: 18px;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 550px) {
  .nav-item {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }
}
