/* body{
    margin: 0;
    padding: 0;
} */
.container_header{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 85%;
    height: 68px;
;
}
.lmj-logo-kasa {
  margin-top: 20px;
  height: 70px;
  } 

.lmj-nav{
    margin-top: 20px;
    
}
.lmj-nav a {
text-decoration: none;
font-weight: 400;
font-size: 24px;
color: #FF6060;
font-family: 'Montserrat';
margin-left: 50px;
}
.nav_link_active {
    
    text-decoration: underline;
    }
    

@media only screen and (max-width: 768px) {

    .lmj-logo-kasa{
        height: 65px;
    }
   .header{
    width: auto;
   }
}

