 #flat_select{
    padding: 0;
    margin-left: 100px;
 }
 
 
.flat_content{
    display: flex;
    justify-content: space-between;
    
 }

.flat_information{
    margin-top: 20px;
}

.flat_title
{
    color: #ff6060;
    font-family: 'Montserrat';
    font-weight: 500;
    height: 51px;
    font-size: 36px;
    line-height: 51.34px;
    margin-top: 0;
    margin-bottom: 0;
}
.flat_stars{
    display: flex;
    justify-content: flex-end;
}
.flat_location{
    
    font-family: 'Montserrat';
    color: #ff6060;
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
}
.flat_tags{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    background: #ff6060;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    height: 25px;
    border: none;
    width: 115px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 10px;

}
.text_description{
    font-size: 18px;
}
.flat_description{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

.flat_img_proprio{
    border-radius: 50%;
    width: 64px;
  margin-left: 10px;
}

.flat_proprietaire{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:#ff6060;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    margin-top: 20px;
}

.flat_guy{
    width: min-content;
}


